@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
.App {
  text-align: center;
  display: flex;
  font-family: 'Rubik Glitch', cursive;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav{
  display: flex;
}.nav .ul{
  display: flex;
  flex-direction: row ;
  padding: 0 20px;
  color: #61dafb;
  text-decoration: none;
  list-style: none;
}
.li{
  display: flex;
  padding: 0 20px;
  color: #61dafb;
  text-decoration: none;
  list-style: none;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav ul {
  display: flex;
  flex-direction: column;
  color: cadetblue;
  text-decoration: none;

}
