@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
*{
  text-decoration: none;
  list-style: none;
  font-family: 'Rubik Glitch', cursive;
  background-color: #FCE2DB;

}
/* ========================================  Addtodos  ================================================== */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


form{
  background-color: #432C7A;
  height: 200px;;
  width: 200px; ;
  padding: 100px;
  border-radius: 5px;
  margin-left: 100px;
  box-shadow: 5px 5px  25px #00000086 ;
}

h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  margin-top: 100px;
  margin-left: 60px;



}

.inp{
  margin-bottom: 50px;
  margin-left: -30px;
  height: 25px;;
  width: 250px; ;
  /* background-color: #a411be; */
  outline: none;
  /* border: #fff 3px solid; */
  border-radius: 2px;
  border: none;
  background-color: #FCE2DB;


 }
 
 
 .btn{
  height: 30px;;
  width: 100px; ;
  background-color: #FF8FB1;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;


}
 
 /* ------------------------- */
  




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ========================================  Addtodos  ================================================== */






/* ========================================  Indextodos  ================================================== */
.new{
  float: right;
  border: #432C7A 2px 1px solid;
  /* margin-top: 200px; */
  background-color: #61dafb;
  height: 20px;
  width: 100px;
  border-radius: 5px;
  margin-top: -20px;
}
.all{
  margin-top: 20px;
  font-size: 25px;
  color: #FF8FB1;
  background-color: #432C7A;

}
table{
  background-color: #432C7A;
  margin-left: -100px;
  /* width: 100%; */

}

tbody{
  width: auto;
}
tr{

}
td{
  width: 300px;
}

/* ========================================  Indextodos  ================================================== */
